.card {
  margin-left: 23%;
  max-width: rem(800px);
  height: rem(600px);
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.content {
  position: absolute;
  inset: 0;
  padding: var(--mantine-spacing-xl);
  z-index: 1;
}

.action {
  position: absolute;
  bottom: var(--mantine-spacing-xl);
  right: var(--mantine-spacing-xl);
}

.title {
  color: var(--mantine-color-white);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  font-size: 60px;
}

.description {
  color: var(--mantine-color-white);
  max-width: rem(220px);
}

.overlay {
  background-color: transparent;
  background-image: linear-gradient(
    105deg,
    var(--mantine-color-black) 20%,
    #312f2f 50%,
    var(--mantine-color-gray-4) 100%
  );
}

.headerTitle {
  font-family: "Greycliff CF", var(--mantine-font-family);
  font-weight: bold;
}

.headerDescription {
  max-width: rem(800px);
  margin: auto;

  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-orange-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.headerCatch {
  font-style: italic;
}
