.card {
  transition: transform 150ms ease, box-shadow 150ms ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: var(--mantine-shadow-md);
  }
}

.title {
  font-family: "Greycliff CF", var(--mantine-font-family);
  font-weight: bold;
}

.headerTitle {
  font-family: "Greycliff CF", var(--mantine-font-family);
  font-weight: 900;
  font-size: rem(50px);
}

.description {
  max-width: rem(800px);
  margin: auto;

  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-orange-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.cardTitle {
  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-yellow-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
  }
}

.catch {
  font-style: italic;
}

.buttonContainer {
  margin-top: 10px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.button {
  background-color: var(--mantine-color-orange-filled);
}
