.item {
  display: flex;
}

.itemIcon {
  padding: var(--mantine-spacing-xs);
  margin-right: var(--mantine-spacing-md);
  background-color: var(--mantine-color-yellow-light);
}

.itemTitle {
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  font-size: 24px;
  font-weight: 600;
}

.supTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-yellow-light-color);
  letter-spacing: rem(0.5px);
}

.title {
  line-height: 1;
  text-align: center;
}

.description {
  text-align: center;
  margin-top: var(--mantine-spacing-xs);
}

.highlight {
  background-color: var(--mantine-color-yellow-light);
  padding: rem(5px);
  padding-top: 0;
  border-radius: var(--mantine-radius-sm);
  display: inline-block;
  color: light-dark(inherit, var(--mantine-color-white));
}

.linkIcon {
  color: var(--mantine-color-orange-5);
  width: rem(50px);
  height: rem(50px);
}

.gridWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
